.page2
{

}
.heading2
{
    margin: 0px;
    font-size: 3vw;
}
.card_album
{
    margin: 0px;
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 10vw;
    padding-right: 6vw;
}
.para2
{
    font-size: 1.2vw;
}
.stove
{
    margin-top:8vw;
    width: 35vw;
    height: auto;
    margin-bottom:8vw;
}
