.page3
{
    text-align: center;
}
.stove
{
    margin-top:8vw;
    width: 35vw;
    height: auto;
    margin-bottom:8vw;
}
.types
{
    margin:0px;
    height:35vw;
    width:70vw;
    border-radius: 1vw;
    color:#FFFFFF;
    display: inline-block;
    background: linear-gradient(45deg,#BB5959,#D07878);
    background-image: url("./back.png");
    background-size: cover;
    text-align:center;
}
.type_heading
{
    margin: 0px;
    margin-top: 4vw;
    font-weight: 400;
    font-size: 2.3vw;
}
.type_para
{
    width: 45vw;
    font-weight: 300;
    display: inline-block;
    font-size: 1vw;
}
.bullet_container
{
    margin-top: 1.5vw;
    display: flex;
    justify-content: space-around;
    padding-left: 15vw;
    padding-right: 15vw;
    height: 5.88vw;
}
.type_svg
{
    margin:0px;
    height: 9vw;
}
.navigation_type_container
{
    margin-top: 1.5vw;
    height: 2vw;
    display: flex;
    justify-content: space-around;
    padding-left: 31vw;
    padding-right: 31vw;
}
.type_direction
{
    height: 1.8vw;
    width:2.25vw;
    border-radius: 50%;
    background:#FFFFFF;
    color:#BB5959;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0.30vw;
    font-weight: 700;
    font-size: 1.35vw;
    cursor: pointer;
}