.page3
{
    text-align: center;
}
.stove
{
    margin-top:8%;
    width: 35vw;
    height: auto;
    margin-bottom:8%;
}
.types
{
    margin:0px;
    height:35vw;
    width:70vw;
    /* border-style: solid; */
    border-radius: 15px;
    color:#FFFFFF;
    display: inline-block;
    background: linear-gradient(45deg,#BB5959,#D07878);
    background-image: url("./back.png");
    background-size: cover;
    text-align:center;
    /* display: flex; */
}
.type_heading
{
    margin: 0px;
    margin-top: 5%;
    font-weight: 400;
    font-size: 3em;
}
/* .type_para_container
{
    display: flex;
} */
.type_para
{
    width: 60%;
    font-weight: 300;
    display: inline-block;
    font-size: 1.1em;
}
.bullet_container
{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
    height: 20%;
}
.type_svg
{
    margin:0px;
    /* margin-top: 1%; */
    height: 25%;
}
.navigation_type_container
{
    margin-top: 4%;
    height: 5.5%;
    display: flex;
    justify-content: space-around;
    padding-left: 45%;
    padding-right: 45%;
}
.type_direction
{
    height: 90%;
    width: 28.5%;
    
    /* border-style: solid; */
    border-radius: 50%;
    background:#FFFFFF;
    color:#BB5959;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    font-weight: 700;
    font-size: 1.7em;
    cursor: pointer;
}
@media only screen and (max-width: 1680px)
{
    .type_heading
    {
        font-weight: 350;
        font-size: 2.4em;
    }
    .type_para
    {
        font-weight: 250;
        font-size: 1.0em;
    }
}
@media only screen and (max-width: 1570px)
{
    .type_heading
    {
        font-weight: 350;
        font-size: 2.3em;
    }
    .type_para
    {
        font-weight: 250;
        font-size: 0.95em;
    }
}
@media only screen and (max-width: 1490px)
{
    .type_heading
    {
        font-weight: 350;
        font-size: 2.2em;
    }
    .type_para
    {
        font-weight: 250;
        font-size: 0.90em;
    }
}
@media only screen and (max-width: 1415px)
{
    .type_heading
    {
        font-weight: 350;
        font-size: 2.2em;
    }
    .type_para
    {
        font-weight: 250;
        font-size: 0.85em;
    }
    .type_svg
    {
        height: 23%;
    }
}
@media only screen and (max-width: 1335px)
{
    .type_heading
    {
        font-weight: 350;
        font-size: 2.1em;
    }
    .type_para
    {
        font-weight: 250;
        font-size: 0.85em;
    }
    .type_svg
    {
        height: 19%;
    }
}
@media only screen and (max-width: 1200px)
{
    .type_heading
    {
        font-weight: 300;
        font-size: 1.9em;
    }
    .type_para
    {
        font-weight: 200;
        font-size: 0.80em;
    }
    .type_svg
    {
        height: 19%;
    }
}
@media only screen and (max-width: 1140px)
{
    .type_heading
    {
        font-weight: 250;
        font-size: 1.8em;
    }
    .type_para
    {
        font-weight: 170;
        font-size: 0.75em;
    }
    .type_svg
    {
        height: 17%;
    }
}
@media only screen and (max-width: 1000px)
{
    .type_heading
    {
        font-weight: 250;
        font-size: 1.7em;
    }
    .type_para
    {
        font-weight: 170;
        font-size: 0.70em;
    }
    .type_svg
    {
        height: 16.5%;
    }
}
@media only screen and (max-width: 920px)
{
    .type_heading
    {
        font-weight: 250;
        font-size: 1.6em;
    }
    .type_para
    {
        font-weight: 170;
        font-size: 0.65em;
    }
    .type_svg
    {
        height: 16.0%;
    }
}
@media only screen and (max-width: 860px)
{
    .type_heading
    {
        font-weight: 250;
        font-size: 1.5em;
    }
    .type_para
    {
        font-weight: 170;
        font-size: 0.60em;
    }
    .type_svg
    {
        height: 15.8%;
    }
}
@media only screen and (max-width: 780px)
{
    .type_heading
    {
        font-weight: 220;
        font-size: 1.3em;
    }
    .type_para
    {
        font-weight: 100;
        font-size: 0.50em;
    }
    .type_svg
    {
        height: 15.5%;
    }
}
@media only screen and (max-width: 700px)
{
    .type_heading
    {
        font-weight: 200;
        font-size: 1.1em;
    }
    .type_para
    {
        font-weight: 100;
        font-size: 0.50em;
    }
    .type_svg
    {
        height: 15.0%;
    }
}