.card
{
    margin: 0px;
    width:17.7vw;
    height: 19.5vw;
    text-align: left;
    padding-left: 1vw;
    box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw #FAFAFA;
    margin-bottom: 1.5vw;
    background:#FFFFFF;
    border-radius: 0.7vw;
    overflow: hidden;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    /* min-height: 100px; */
}
.card:hover
{
    background: #BB5959;
    color: #FAFAFA;
    cursor: pointer;
}
.card:hover #Shape
{
    fill:#FAFAFA;
}
.card_heading
{
    margin: 0px;
    margin-top: 3.2vw;
    font-size:1.4vw;
    font-weight: 400;
    font-family: CircularStd;
    
}
.card_image
{
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    display: block;
    width: 2.3vw;
    height: auto;
}
.card_para
{
    font-size: 0.9vw;
    font-family: CircularStd;
    font-weight: 350;
}
.card:hover #shape
{
    stroke:#ffffff;
}
.modal_image_container
{
    display: flex;
    margin-top: 2vw;
    justify-content: flex-start;
}
.modal_image
{
    width:3vw;
    height: 3vw;
    margin-left: 4vw;
}
.modal_image_heading
{
    margin-left: 1vw;
    margin-top: 1vw;
    font-size:1.7vw;
}