.card
{
    margin: 0px;
    width:15vw;
    height: 18vw;
    text-align: left;
    padding-left: 1vw;
    box-shadow: 0.3vw 0.3vw 0.3vw 0.3vw #FAFAFA;
    margin-bottom: 1.5vw;
    background:#FFFFFF;
    border-radius: 0.7vw;
    overflow: hidden;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    /* min-height: 100px; */
}
.card:hover
{
    background: #BB5959;
    color: #FAFAFA;
    cursor: pointer;
}
.card:hover #Shape
{
    fill:#FAFAFA;
}
.card_heading
{
    margin: 0px;
    margin-top: 3.2vw;
    font-size:1.1vw;
    font-weight: 500;
    
}
.card_image
{
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    display: block;
    width: 2.3vw;
    height: auto;
}
.card_para
{
    font-size: 0.9vw;
}
#shape
{
    fill:blue;
}
