.bullet
{
    /* border-style: solid; */
    border-radius:50%;
    height: 70%;
    background: #BB5959;
    width: 8.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
@keyframes glowing {
    0% { box-shadow: 0 0 -10px #c4a300; }
    40% { box-shadow: 0 0 20px #c4a300; }
    60% { box-shadow: 0 0 20px #c4a300; }
    100% { box-shadow: 0 0 -10px #c4a300; }
  }
  
  .button-glow {
    animation: glowing 5000ms infinite;
  }