.contact
{
    width: 100vw;
    height: 100vh;
    background:rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contact_card
{
    width: 60vw;
    height: 35vw;
    background: #BB5959;
    border-radius: 1vw;
    margin-left: 20vw;
}
.name_subject_wrapper
{
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
}