.carousel_card
{
    width: 20vw;
    overflow: hidden;
    display: inline-block;
    height: 10vw;
    padding-top: 1vw;
    border-radius: 1vw;
    margin-left:3vw;
    box-shadow: 3px 3px 3px 3px #FAFAFA;
    margin-top: 1vw;
    margin-bottom: 1vw;
    background: #FFFFFF;
}
.carousel_card_heading
{
    font-size: 1.1vw;
    margin-left: 1vw;
    font-weight: 450;
    font-family: CircularStd;
}
.carousel_card_para
{
    font-size: 0.7vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-weight: 200;
    font-family: CircularStd;
    color: #646464;
}