.page4
{
    text-align: left;
    margin-top: 10vw;
}
.carousel
{

}
.carousel_heading
{
   font-size:2vw;
   margin-left: 14vw;
   font-weight: 450;
   width:20vw;
}
.slide
{
    overflow-y:hidden;
    overflow-x:scroll;
    scroll-behavior: smooth;
    margin-top: 3vw;
}
.slider
{
    width: 215vw;
    position: relative;
}
.slide::-webkit-scrollbar
{
    display: none;
}
.carousel_direction
{
    display: flex;
    margin-left: 14vw;
    margin-top: 4vw;
    width: 7vw;
    justify-content: space-between;
}
.carousel_direction_nav
{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    min-height: 15px;
    min-width: 15px;
    background: #BB5959;
    color:#FFFFFF;
    font-size:2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}
.carousel_direction_nav:hover
{
    background:#FFFFFF;
    color:#BB5959;
    cursor: pointer;
}
.future
{
    border-radius: 0.8vw;
    width: 60vw;
    margin-left: 20vw;
    text-align: center;
    height: 9vw;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
    margin-top: 20vw;
    background:#BB5959;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
.future_heading
{
    margin: 0px;
    font-size: 2vw;
    font-weight: 300;
    color: #FFFFFF;
}
.asilverse_stove
{
    font-weight: 400;
}
.button_wrapper
{
    display: inline-block;
}
.line
{
    /* margin: 0px; */
    margin-top: 4vw;
    width: 70vw;
    color: #eeeeee;
}

