.page4
{
    text-align: left;
    margin-top: 10vw;
    background: url("back1.png");
    background-size: cover;
    
}
.carousel
{

}
.carousel_heading
{
   font-size:2.1vw;
   margin-left: 14vw;
   font-weight: 400;
   width:21vw;
   background: url("backComma.png");
   background-size: cover;
   font-family: CircularStd;
}
.slide
{
    overflow-y:hidden;
    overflow-x:scroll;
    scroll-behavior: smooth;
    margin-top: 2vw;
}
.slider
{
    width: 209.5vw;
    position: relative;
}
.slide::-webkit-scrollbar
{
    display: none;
}
.carousel_direction
{
    display: flex;
    margin-left: 14vw;
    margin-top: 0.4vw;
    width: 7vw;
    justify-content: space-between;
}
.carousel_direction_nav
{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: #BB5959;
    color:#FFFFFF;
    font-size:1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}
.carousel_direction_nav:hover
{
    background:#FFFFFF;
    color:#BB5959;
    cursor: pointer;
}
.future
{
    border-radius: 0.8vw;
    width: 60vw;
    margin-left: 20vw;
    text-align: center;
    height: 9vw;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
    margin-top: 20vw;
    background:#BB5959;
    padding-top: 3vw;
    padding-bottom: 3vw;
    background: url("backLayer.png");
    background-size: cover;
}
.future_heading
{
    margin: 0px;
    font-size: 1.7vw;
    font-weight:400;
    color: #FFFFFF;
    font-family: CircularStd;
}
.asilverse_stove
{
    font-size:2;
    font-weight: 600;
    font-family: CircularStd;
}
.button_wrapper
{
    display: inline-block;
}
.line
{
    margin: 0px;
    margin-left: 20vw;
    margin-top: 3vw;
    width: 60vw;
    color: #eeeeee;
}
.footer
{
    display: flex;
    justify-content: space-between;
    width: 55vw;
    margin-left: 23vw;
    margin-top: 2vw;
    padding-bottom: 1vw;
}
.copyright
{
    font-size:0.8vw;
    margin-top: 0.4vw;
    font-family: CircularStd;
    color:#646464;
}
.social
{
    margin-right: 1vw;
}
.social:hover path
{
    fill:#000000;
}
@media only screen and (max-width: 700px)
{
    .copyright
    {
        margin-top: 1.2vw;
    }
}
@media only screen and (max-width: 500px)
{
    .copyright
    {
        margin-top: 1.8vw;
    }
}
@media only screen and (max-width: 425px)
{
    .copyright
    {
        margin-top: 2.8vw;
    }
}


